<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <h1>This is the dashboard</h1>
      <div>        
        <a href=sample_data_pull_10>
          <button>Part 3</button>
        </a>
        <a href=interactive_search>
          <button>Part 4</button>
        </a>
        <a href=demographics>
          <button>Demographics (Part 5)</button>
        </a>
        <a href=importData>
          <button>Import Data</button>
        </a>
      </div>
    </div>
  </body>
</html>