<html>
  <head>
    <title>Demographics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <h1>Top 3 Demographics that Appear to Effect Customer Engagement:</h1>
      <br>
      <label>{{top1}}</label>
      <label>{{top2}}</label>
      <label>{{top3}}</label>
      <a href=dashboard>
        <button>Dashboard</button>
      </a>
    </div>
  </body>
</html>