<html>
  <head>
    <title>Interactive Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <!-- If new search -->
      <div>
        <h1>Search</h1>
        <br>
        <form action="" method="post">
          <input type="number" placeholder="Household Number" name="hshd_num" value="{{request.form.hshd_num}}" required>
          <input class="btn btn-default" type="submit" value="Search">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <div>
          <a href="{{url_for('dashboard')}}"><button class="btn btn-default">Dashboard</button></a>
        </div>
      </div>
    </div>
    
    {% if not data.empty %}
    <div>
      <div>
        <h1>Data Pull for HSHD_NUM {{hshd_num}}</h1>
        </div>
        <div style="overflow-x:auto;">
          <table id="search_table" class="table">
            <thead>
              <tr>
                <th style="color: purple;">HSHD_NUM</th>
                <th style="color: turquoise;" onclick="sortTable(0)">BASKET_NUM</th>
                <th style="color: turquoise;" onclick="sortTable(1)">PURCHASE</th>
                <th style="color: turquoise;" onclick="sortTable(2)">PRODUCT_NUM</th>
                <th style="color: orangered;">DEPARTMENT</th>
                <th style="color: orangered;">COMMODITY</th>
                <th style="color: turquoise;">SPEND</th>
                <th style="color: turquoise;">UNITS</th>
                <th style="color: turquoise;">STORE_R</th>
                <th style="color: turquoise;">WEEK_NUM</th>
                <th style="color: turquoise;">YEAR</th>
                <th style="color: purple;">LOYALTY_FLAG</th>
                <th style="color: purple;">AGE_RANGE</th>              
                <th style="color: purple;">MARITAL</th>
                <th style="color: purple;">HOMEOWNER</th>
                <th style="color: purple;">INCOME_RANGE</th>
                <th style="color: purple;">HSHD_COMPOSITION</th>
                <th style="color: purple;" onclick="sortTable(3)">HH_SIZE</th>
                <th style="color: purple;" onclick="sortTable(4)">CHILDREN</th>
              </tr>
            </thead>
            <tbody>
              {% for _, row in data.iterrows() %}
              <tr>
                <td style="color: purple;">{{row['HSHD_NUM']}}</td>
                <td style="color: turquoise;">{{row['BASKET_NUM']}}</td>
                <td style="color: turquoise;">{{row['PURCHASE']}}</td>
                <td style="color: turquoise;">{{row['PRODUCT_NUM']}}</td>
                <td style="color: orangered;">{{row['DEPARTMENT']}}</td>
                <td style="color: orangered;">{{row['COMMODITY']}}</td>
                <td style="color: turquoise;">{{row['SPEND']}}</td>
                <td style="color: turquoise;">{{row['UNITS']}}</td>
                <td style="color: turquoise;">{{row['STORE_R']}}</td>
                <td style="color: turquoise;">{{row['WEEK_NUM']}}</td>
                <td style="color: turquoise;">{{row['YEAR']}}</td>
                <td style="color: purple;">{{row['LOYALTY_FLAG']}}</td>
                <td style="color: purple;">{{row['AGE_RANGE']}}</td>
                <td style="color: purple;">{{row['MARITAL']}}</td>
                <td style="color: purple;">{{row['HOMEOWNER']}}</td>
                <td style="color: purple;">{{row['INCOME_RANGE']}}</td>
                <td style="color: purple;">{{row['HSHD_COMPOSITION']}}</td>
                <td style="color: purple;">{{row['HH_SIZE']}}</td>
                <td style="color: purple;">{{row['CHILDREN']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          </div>
    </div>
    {% endif %}
  </body> 
  
</html>